* {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
}

body {
  background-color: #fdfdff;
  color: #02171e;
  margin: 0;
  padding: 0;
}

hr {
  border-top: 1px #e4e7ea;
  margin: 0;
  padding: 0;
}

.bottom-header {
  color: #909496;
}

.cta {
  background-color: white;
  color: #02171e;
  border: 1px solid #dadde0;
  border-radius: 5rem;
  font-size: 1rem;
  padding: 15px 39px;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}

.cta:hover {
  cursor: pointer;
  background-color: #02171e;
  color: white;
  border: 1px solid #02171e;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}

.devnode-logo {
  height: 48px;
  width: 48px;
}

.header {
  font-size: 7.5rem;
  line-height: 103.333%;
  padding: 60px;
  margin: 0px;
}

.narrative-row {
  display: flex;
  padding: 60px;
  gap: 64px;
}

.narrative-item-short {
  max-width: 320px;
}

.narrative-item-long {
  max-width: 400px;
}

.narrative-item-title {
  color: #02171e;
  font-size: 1rem;
  padding-bottom: 16px;
}

.narrative-item-content {
  color: #909496;
  font-size: 1.25rem;
  font-weight: 400;
}

.navbar {
  display: flex;
  padding: 60px;
  align-items: flex-start;
  justify-content: space-between;
}

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
