* {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
}

body {
  background-color: #fdfdff;
  color: #02171e;
  margin: 0;
  padding: 0;
}

hr {
  border-top: 1px #e4e7ea;
  margin: 0;
  padding: 0;
}

p {
  color: #828586;
  font-size: 1.6rem;
  line-height: 180%;
  font-weight: 400;
}

.bottom-header {
  background: url(images/devnode-gradient.svg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 600;
}

.cta {
  background-color: white;
  color: #02171e;
  border: 1px solid #dadde0;
  border-radius: 5rem;
  font-size: 1rem;
  padding: 15px 39px;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}

.cta:hover {
  cursor: pointer;
  background-color: #02171e;
  color: white;
  border: 1px solid #02171e;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}

.devnode-logo {
  height: 48px;
  width: 48px;
}

.devnode-text {
  color: #02171e;
}

.description {
  padding: 1rem 4rem;
  margin: 0;
}

.header {
  font-weight: 600;
  font-size: 8.5rem;
  line-height: 108.82%;
  padding: 2.5rem 4rem;
  margin: 0px;
}

.navbar {
  display: flex;
  padding: 60px;
  align-items: flex-start;
  justify-content: space-between;
}

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
